<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>
</head>
<body>
    <%- include ('../partials/headers.ejs')%>
    <%- include ('../partials/successMessage.ejs')%>
    <%- include ('../partials/errorMessage.ejs')%>
    <%- include ('../partials/existMessage.ejs')%>
    <%- include ('../partials/authorAbsenceMessage.ejs')%>
    <%- include ('../partials/titleAbsenceMessage.ejs')%>
    <%- body %>
</body>
</html>